version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:22.12.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - node-modules-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          paths:
            - node_modules
          key: node-modules-{{ checksum "package-lock.json" }}
      - run:
          name: Build application
          command: npm run build
      - persist_to_workspace:
          root: .
          paths:
            - dist

  deploy:
    docker:
      - image: cimg/node:22.12.0
    steps:
      - attach_workspace:
          at: .
      - add_ssh_keys:
          fingerprints:
            - 'SHA256:yDE3jx+vpC27Atp3BpYDZnqNBHKa2dToVkRt8fQ7YnM'
      - run:
          name: Deploy to server
          command: |
            scp -o StrictHostKeyChecking=no -r ./dist/* ubuntu@ec2-98-88-216-77.compute-1.amazonaws.com:/var/www/html/thewebsdoor-new

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: main
