.mapContainer {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include min('tablet') {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  > * {
    position: relative;
    z-index: 2;
  }
}

.worldMap {
  position: relative;
  padding: 0 2rem;

  @include min('tablet') {
    padding: 0 4rem;
  }
  svg {
    display: block;
    margin: auto;
    max-width: 80rem;
  }
  .cityContainer {
    position: absolute;
    top: 20%;
    left: 50%;

    @include min('tablet') {
      top: 23%;
    }
    @include min('desktop') {
      top: 20%;
      left: 50%;
    }
    .city {
      @include glassmorphism;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      color: var(--text-color);
      font-size: 0.75rem;
      text-transform: uppercase;
      font-family: var(--secondary-font);

      @include min('tablet') {
        font-size: 1rem;
      }
      @include min('desktop') {
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
      }
      span {
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(
          20deg,
          var(--third-color),
          var(--fourth-color)
        );
      }
    }
  }
}
